root = true

[*.{js,jsx,ts,tsx,css,scss,html,json,md,php}]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.{sh,ps1}]
indent_style = space
indent_size = 2
